.box{
  width: 450px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: 'Century Gothic',sans-serif;
}
.box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box h5{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box p{
  text-align: center;
}

body{
  background-image: url("background2.jpg");
  width: 100%;
  height: auto;
}

table,h2{
  color: white;
}

.center{
  width:40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding:20px;
  background: #333;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0,0,0,.5);
}

.skillh1{
  margin: 0;
  padding: 0;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.SkillBox{
  box-sizing: border-box;
  width: 100%;
  margin: 20px 0;
}

.SkillBox p {
  color: #fff;
  text-transform: uppercase;
  margin:0 0 10px;
  padding:0;
  font-family: bold;
  letter-spacing: 1px;
}

.SkillBox p:nth-child(2)
{
  float: right;
  position: relative;
  top: -25px;
}

.skill{
  background: #262626;
  padding: 4px;
  box-sizing: border-box;
  border: 1px solid #0fffb7;
  border-radius: 2px;
}

.skill_level{
  background: #0fffb7;
  width: 100%;
  height: 10px;
}

.tengah{
  margin-top: 5%;
  margin-left: 40%;
  color: white;
}

h1{
  color: white;
  text-align: center;
}
